PORT=8000
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=agritrace
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_TOPIC=agr/devices/+/telemetry
FIREBASE_CREDENTIALS_PATH=./firebase-service-account.json
FRONTEND_URL=http://localhost:5173